[submodule "release/scripts/addons"]
	path = release/scripts/addons
	url = https://github.com/UPBGE/blender-addons.git
	branch = master
	ignore = all
[submodule "release/scripts/addons_contrib"]
	path = release/scripts/addons_contrib
	url = https://projects.blender.org/blender/blender-addons-contrib
	branch = main
	ignore = all
[submodule "release/datafiles/locale"]
	path = release/datafiles/locale
	url = https://projects.blender.org/blender/blender-translations.git
	branch = main
	ignore = all
[submodule "source/tools"]
	path = source/tools
	url = https://projects.blender.org/blender/blender-dev-tools.git
	branch = main
	ignore = all
